html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  */
}

body {
    font-family: 'roboto', sans-serif, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header, .intro-container, .footer {
    background-color: #1f2937;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
}

.intro-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.intro-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.intro-left .white-head {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.intro-left .white-content {
    color: #e5e7eb;
    font-size: 18px;
}

.btn-sign-up {
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 6px;
    border-color: #f9faf8;
    border-style: none;
    max-width: 100px;
    margin-top: 10px;
}

.intro-right {
    max-width: 30vw;
    height: auto;
    transform: rotate(270deg);
}

.info-head {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.item .icon {
    width: 150px; 
    height: 150px; 
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 20px 0px 20px 0px;
}


.item .content {
    color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.info-container {
    padding: 20px 0px 60px 0px;
}

.quote {
    background-color: #e5e7eb;
    padding: 60px 0px 60px 0px;
}

.quote .content {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    padding: 40px;
}

.bold-origin {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

.ad-container {
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

.ad {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    text-align: center;
    padding: 20px;
    flex-basis: 600px;
}

.ad-container .strong-content {
    font-size: 30px;
    font-weight: bold;
    color: #f9faf8;
    padding: 20px;
}

.ad-container .content {
    color: #f9faf8
}

.ad-container .btn-sign-up {
    border-width: 2px;
    border-style: solid;
    flex-basis: 100px;
    align-self: center;
    margin-top: 0;
}

.footer {
    text-align: center;
    color: #f9faf8;
    padding: 20px;
}


